/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@500&display=swap");
/* hide scrollbar */
::-webkit-scrollbar {
  display: none;
}
#hero {
  margin-bottom: 0;
  width: 100%;
  height: 640px;
  padding-top: 8.5rem;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 50%;
}
.navbar-nav {
  font-family: "Montserrat", sans-serif;
}
.navbar-brand {
  font-family: "Grandstander", cursive;
}
.bg-my {
  background-color: #7eb2eb;
}
#about {
  padding-top: 6rem;
}
/* change text */
span.typed-text {
  font-size: 40px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}
.hero p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 2px;
  animation: blink 1s infinite;
}
.hero p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0% {
    background-color: #ccc;
  }
  49% {
    background-color: #ccc;
  }
  50% {
    background-color: transparent;
  }
  99% {
    background-color: transparent;
  }
  100% {
    background-color: #ccc;
  }
}
/* end change text */
div.card {
  position: relative;
  transition: 0.7s;
}
div.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  bottom: 8px;
  border-color: #7eebc1;
}
.wm {
  font-size: 8px;
  color: white;
}
/* Footer */
.bi-heart-fill {
  color: red;
}
ul.d-xl-flex li {
  list-style: none;
}
